.form{
    // @include border(3px, rgb(70, 70, 70));
    height: 0px;
    background-color: $bg-form;
    transition: all ease .4s;
    @include justCenter();
    form{
        display: none;
        width: clamp(350px, 100%, 500px);
        text-align: center;
        label,input{
            display: block;
            margin: auto;
        }
    }
    &.active{
        height: 350px;
        form{
            display: block;
        }
    }
}