#navbar-top {
  // @include border(3px, blue);
  width: 100%;
  height: 100px;
  display: flex;
  padding: 0 20px 0px 20px;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;

  #logoKmoove {
    // @include border(3px, red);
    height: 70%;
    cursor: pointer;
    flex: 1 1 auto;
    min-width: 150px;
    max-width: 170px;
    @include justCenter();
    flex: 1 0 auto;
    img {
      height: 90%;
      margin: auto;
    }
    @include md() {
      height: 50%;
    }
  }
  #toggleBurger {
    border-radius: 10px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    padding: 8px 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    right: 10px;
    z-index: 10;
    transition: 0.5 ease;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      height: 5px;
      border-radius: 10px;
      background-color: #2d39b5;
      transition: all 0.7s ease;
    }
    div {
      width: 100%;
      height: 5px;
      background: #000;
      border-radius: 10px;
      transition: ease 0.3s;
      &:nth-of-type(1) {
        background-color: #e303a2;
      }
      &:nth-of-type(2) {
        background-color: #2d39b5;
        opacity: 0;
      }
      &:nth-of-type(3) {
        background-color: #1ab6e3;
      }
    }
    &:hover div {
      &:nth-of-type(1) {
        transform: rotate(-45deg) translate(-5px, 0px);
        width: 50%;
        z-index: 2;
      }
      &:nth-of-type(3) {
        transform: rotate(45deg) translate(-7px, -1px);
        width: 50%;
      }
    }
    &.active {
      &::before {
        width: 100%;
        height: 100%;
      }
      div {
        &:nth-of-type(1) {
          position: absolute;
          top: 45%;
          left: 10%;
          transform: rotate(45deg);
          width: 80%;
        }
        &:nth-of-type(2) {
          display: none;
        }
        &:nth-of-type(3) {
          position: absolute;
          top: 45%;
          left: 10%;
          transform: rotate(-45deg);
          width: 80%;
        }
      }
      &:hover {
        div {
          &:nth-of-type(1) {
            transform: rotate(-45deg);
          }
          &:nth-of-type(3) {
            transform: rotate(45deg);
          }
        }
      }
    }
    @include md() {
      display: none;
    }
  }
  #navbarLinks {
    // @include border(3px, red);
    position: absolute;
    top: 75px;
    right: -200%;
    width: clamp(300px, 50%, 400px);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 13% 100%);
    height: 900px;
    background-color: rgba(29, 0, 46, 0.95);
    color: #fff;
    z-index: 5;
    transition: left 0.5s 0.5s ease;
    padding: 0px 20px;
    list-style-type: none;
    text-align: right;
    display: none;
    li {
      white-space: nowrap;
      font-size: 25px;
      line-height: 50px;
      margin-top: 15px;
      a {
        position: relative;
        text-decoration: none;
        padding: 5px 10px;
        z-index: 2;
        transition: 0.5s;
        text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        &:hover {
          letter-spacing: 2px;
          transform: translate(20px);
          &:before {
            transform: scale(1);
            transform-origin: left;
            transition: transform 0.5s;
          }
        }
        &:before {
          content: "";
          bottom: 7px;
          left: 0;
          position: absolute;
          width: 100%;
          height: 30%;
          transform: scale(0);
          transform-origin: right;
          transition: transform 0.5s;
          z-index: -1;
        }
        &.selected {
          transform: translate(0px);
          &:before {
            transform: scale(1);
            transform-origin: left;
            transition: transform 0.5s;
          }
        }
      }
      &:nth-child(1) {
        a::before {
          background: rgb(223, 223, 0, 0.564);
        }
      }
      &:nth-child(2) {
        a::before {
          background: rgb(0, 202, 178, 0.564);
        }
      }
      &:nth-child(3) {
        a::before {
          background: rgba(140, 11, 215, 0.564);
        }
      }
      &:nth-child(4) {
        a::before {
          background: rgb(0, 203, 41, 0.564);
        }
      }
      &:nth-child(5) {
        a::before {
          background: rgb(238, 95, 0, 0.564);
        }
      }
      &:nth-child(6) {
        a::before {
          background: rgba(238, 0, 190, 0.564);
        }
      }
      &#accountMob {
        @include md() {
          display: none;
        }
      }
      &#settingsMobile {
        display: flex;
        align-items: center;
        justify-content: end;
            // @include border(1px, green);
        @include md() {
          display: none;
        }
        #langagesMob {
          border: 1px solid rgb(177, 177, 177);
          border-radius: 5px;
          width: 80px;
          height: 40px;
          cursor: pointer;
          overflow: hidden;
          a {
            pointer-events: none;
            width: 100%;
            height: 100%;
            display: block;
            .lang {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              figure {
                // @include border(3px, purple);
                width: calc(100% - 15px);
                height: 100%;
                img {
                  width: 100%;
                  height: 100%;
                  margin-bottom: 10px;
                }
              }
              .selectedLang {
                width: 15px;
                height: 100%;
                font-size: 10px;
                @include justCenter();
                i {
                  display: block;
                  width: 15px;
                  height: 10px;
                  text-align: center;
                  // @include border();
                }
                // @include border(1px, red);
              }
            }
            &:nth-of-type(2) {
              border: 1px solid rgb(177, 177, 177);
              border-radius: 5px;
              width: calc(100% + 10px);
              height: calc(100% + 10px);
              transform: scale(.7) translate(-10px, -10px);
              position: relative;
              right: 5px;
              padding: 2.5px;
            }
          }
          &.active {
            overflow: visible;
            a {
              &:nth-of-type(2) {
                pointer-events: auto;
              }
            }
          }
          &:hover{
            transform: none;
          }
        }
      }
    }
    &.active {
      display: block;
      animation: rightZero 0.5s 0.1s ease both;
    }
    @include md() {
      position: relative;
      top: 0;
      left: 0;
      width: clamp(400px, 55%, 700px);
      height: 100%;
      // @include border(3px, red);
      clip-path: none;
      background-color: transparent;
      color: rgb(0, 0, 0);
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      padding: 0;
      li {
        flex: 1 0 auto;
        margin-left: 40px;
        max-width: 200px;
        font-size: clamp(12px, 1.8vw, 30px);
        line-height: 20px;
        padding: 0;
        a {
          position: relative;
          text-decoration: none;
          padding: 0;
          z-index: 2;
          transition: 0.5s;
          &:hover {
            letter-spacing: 2px;
            transform: translate(20px);
          }
          &::before {
            content: "";
            bottom: 3px;
            left: 0;
            position: absolute;
            width: 100%;
            height: 40%;
            transform: scale(0);
            transform-origin: right;
            transition: transform 0.5s;
            z-index: -1;
          }
        }
      }
      &.active {
        display: flex;
      }
    }
  }
  #settings {
    display: none;
    @include md() {
      display: block;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      right: 50px;
      #langages {
        border: 1px solid rgb(177, 177, 177);
        border-radius: 5px;
        width: 60px;
        height: 35px;
        padding: 5px;
        cursor: pointer;
        overflow: hidden;
        a {
          pointer-events: none;
          margin-bottom: 5px;
          // @include border(1px, blue);
          width: 100%;
          height: 100%;
          display: block;
          .lang {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            // @include border(3px, green);
            figure {
              // @include border(3px, purple);
              width: calc(100% - 15px);
              height: 100%;
              padding: 2.54px;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .selectedLang {
              width: 15px;
              height: 100%;
              font-size: 10px;
              @include justCenter();
              i {
                display: block;
                width: 15px;
                height: 10px;
                text-align: center;
                // @include border();
              }
              // @include border(1px, red);
            }
          }
          &:nth-of-type(2) {
            border: 1px solid rgb(177, 177, 177);
            border-radius: 5px;
            width: calc(100% + 10px);
            height: calc(100% + 10px);
            position: relative;
            right: 5px;
            padding: 2.5px;
          }
        }
        &.active {
          overflow: visible;
          a {
            &:nth-of-type(2) {
              pointer-events: auto;
            }
          }
        }
      }
      #account {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-left: 20px;
        a {
          display: block;
          width: 100%;
          height: 100%;
          i {
            display: block;
            line-height: 35px;
            text-align: center;
            font-size: 2em;
            color: #1e2467;
          }
        }
      }
    }
  }
  @include md() {
    padding: 0 30px 10px 30px;
    height: 200px;
    margin-bottom: 10px;
  }
  &.sticky {
    top: -200px;
    &.active {
      top: 0px;
      height: 70px;
      background: rgb(184, 184, 184, 0.9);
      @include md() {
        height: 150px;
      }
    }
  }
}

#scrollToTop {
  @include border(5px, #000);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
  p {
    width: 100%;
    height: 100%;
    i {
      width: 100%;
      line-height: 50px;
      text-align: center;
      font-size: 30px;
      transform: scale(1.3);
    }
  }
  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}
