<%- include('./include/head'); %>

<%- include('./include/nav', {"name": "for-who"}); %>

<%- include('./include/form', {"id": 1}); %>
<%- include('./include/footer'); %>

<!-- <script src="/scripts/....js"></script> -->
</body>
</html>