<html>
    <head>
        <title>admin</title>
    </head>
    <body>
        <form id="form" enctype="multipart/form-data">
            <p>
              <label for="pseudoInput">Pseudo</label>
              <input type="text" name="pseudo" id="pseudoInput" />
            </p>
            <p>
              <label for="passwordInput">Password</label>
              <input type="password" name="password" id="passwordInput" />
            </p>
            <button type="submit">Envoyer</button>
          </form>
          <script src="../assets/scripts/login.js"></script>
    </body>
</html>