<%- include('./include/head'); %>

<%- include('./include/nav', {"name": "login"}); %>

<%- include('./include/form', {"id": 2}); %>
<%- include('./include/footer'); %>
        
<script src="../assets/scripts/login.js"></script>
</body>
</html>