<%- include('./include/head'); %>

<%- include('./include/nav'); %>

<%- include('./include/footer'); %>

<!-- <script src="/scripts/....js"></script> -->

<script src="/scripts/nav.js"></script>

</body>
</html>