<footer id="footer">
  <div id="openFormFooter" class="formBtn">
    <% if (data.head.lang =="fr") { %>      
      <h4>Contactez-nous</h4>
    <% } else if (data.head.lang =="en") { %> 
      <h4>Contact us</h4>
    <% } %> 
    <div class="letter-image">
      <div class="animated-mail">
        <div class="back-fold"></div>
        <div class="letter">
          <div class="letter-border"></div>
          <div class="letter-title"></div>
          <div class="letter-context"></div>
          <div class="letter-stamp">
            <div class="letter-stamp-inner"></div>
          </div>
        </div>
        <div class="top-fold"></div>
        <div class="body"></div>
        <div class="left-fold"></div>
      </div>
      <div class="shadow"></div>
    </div>
  </div>
  <div id="followUs">
    <% if (data.head.lang =="fr") { %>     
      <h4>Suivez-nous sur les plateformes</h4>
    <% } else if (data.head.lang =="en") { %> 
      <h4>Follow us on the platforms</h4>
    <% } %> 
    <div>
      <!-- <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
      <a href="#"><i class="fa-brands fa-tiktok"></i></a> -->
      <ul>
        <li><i class="fa-brands fa-instagram"></i></li>
        <li><i class="fa-brands fa-linkedin"></i></li>
        <li><i class="fa-brands fa-youtube"></i></li>
        <li><i class="fa-brands fa-tiktok"></i></li>
      </ul>
    </div>
  </div>
  <div id="mentions">
    <% if (data.head.lang =="fr") { %>     
    <ul id="linksLegacy">
      <li><a href="#">Plan du site</a></li>
      <li><a href="#">Mentions légales</a></li>
      <li><a href="#">Cookies</a></li>
    </ul>
    <% } else if (data.head.lang =="en") { %> 
    <ul id="linksLegacy">
      <li><a href="#">Sitemap</a></li>
      <li><a href="#">Legal Notice</a></li>
      <li><a href="#">Cookies</a></li>
    </ul>
    <% } %> 
    <p id="copyright">
      KMOOVE 2022
    </p>
  </div>
</footer>
