<section id="mat-bands">
  <div id="trust">
    <h3>
      Ils nous ont fait confiance<br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Et ils sont ravis !
    </h3>
  </div>
  <div id="notices">
    <div id="brands">
      <div class="brand">
        <img src="/files/images/logo-brand-1.png" alt="" />
      </div>
      <div class="brand">
        <img src="/files/images/logo-brand-2.png" alt="" />
      </div>
      <div class="brand">
        <img src="/files/images/logo-brand-3.png" alt="" />
      </div>
      <div class="brand">
        <img src="/files/images/logo-brand-1.png" alt="" />
      </div>
      <div class="brand">
        <img src="/files/images/logo-brand-2.png" alt="" />
      </div>
      <div class="brand">
        <img src="/files/images/logo-brand-3.png" alt="" />
      </div>
    </div>
    <div id="opinions">
      <div id="opLeft">
        <div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae,
            laboriosam et.  
          </p>
        </div>
        <hr />
        <div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae,
            laboriosam et.  
          </p>
        </div>
        <hr />
        <div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae,
            laboriosam et.  
          </p>
        </div>
        <hr />
        <div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae,
            laboriosam et.  
          </p>
        </div>
        <hr />
        <div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae,
            laboriosam et.  
          </p>
        </div>
        <hr />
        <div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae,
            laboriosam et.  
          </p>
        </div>
      </div>
      <div id="opRight">
        <div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae,
            laboriosam et.  
          </p>
        </div>
        <hr />
        <div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae,
            laboriosam et.  
          </p>
        </div>
        <hr />
        <div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae,
            laboriosam et.  
          </p>
        </div>
        <hr />
        <div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae,
            laboriosam et.  
          </p>
        </div>
        <hr />
        <div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae,
            laboriosam et.  
          </p>
        </div>
        <hr />
        <div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae,
            laboriosam et.  
          </p>
    </div>
  </div>
</section>
