<section id="nat-home">
    <div class="overlay"></div>
    <div class="box-logo">
      <h1 class="logo">KMOOVE</h1>
      <div class="line--translate"></div>
    </div>
    <div class="hamburger-container">
      <div class="hamburger hamburger1"></div>
      <div class="hamburger hamburger2"></div>
      <div class="hamburger hamburger3"></div>
    </div>
    <div class="home-anim">
      <p>sport</p>
      <p>gamification</p>
      <p>education</p>
    </div>
    <div class="navBar">
      <ul>
        <li>Accueil</li>
        <li>Nos Jeux</li>
        <li>Pour Qui</li>
        <li>Actualités</li>
        <li>Contact</li>
      </ul>
    </div>
    <div class="pinkGrid">
      <div class="pinkGrid--Left"></div>
      <div class="centralLine"></div>
      <div class="pinkGrid--Right"></div>
    </div>
</section>