#mat-image-paralax-one{
    // @include border(3px, green);
    height: 70vh;
    background: url('/files/images/testprere.jpg'),
    url('/files/images/jeupar4.jpg');
    // background-size: 100% 80%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}