#mat-form-register{
    // @include border(2px , red);
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    #forms{
        // @include border(2px , red);
        height: 80%;
        width: clamp(350px, 70%, 600px);
    }
    #buttons{
        // @include border(2px , red);
        margin-top: 15px;
        height: 20%;
        width: clamp(300px, 100%, 400px);
        display: flex;
        justify-content: space-around;
        align-items: center;
        button{
            position: relative;
            cursor: pointer;
            display: block;
            text-transform: uppercase;
            width: auto;
            padding: 20px 15px;
            border-radius: 20px;
            outline: none;
            border: none;
            font-weight: bold;
            color: #fff;
            overflow: hidden;
            transition: .3s ease;
            background: linear-gradient(90deg, #0156b1, #3eadbe);
            &:nth-of-type(2){
                background: linear-gradient(90deg, #755bea, #ff72c0);
            }
            span{
                position: absolute;
                background: #fff;
                transform: translate(-50%, -50%);
                pointer-events: none;
                border-radius: 50%;
                animation: ripples 1s linear infinite;
            }
            &.active{
                transform: scale(1.3);
            }
        }
    }
}