<section id="nat-home">
    <div class="home-anim">
      <h2>Sport</h2>
      <h2>Gamification</h2>
      <h2>Education</h2>
    </div>
    <div class="pinkGrid">
      <div class="pinkGrid--Left"></div>
      <div class="centralLine"></div>
      <div class="pinkGrid--Right"></div>
    </div>
    <div id="start-pass">
        <i class="fa-solid fa-angle-down"></i>
    </div>
</section>