<!-- <section id="mat-benefices">
    <div id="bands-color">
        <div class="band-color" id="1"></div>
        <div class="band-color" id="2"></div>
        <div class="band-color" id="3"></div>
        <div class="band-color" id="4"></div>
        <div class="band-color" id="5"></div>
    </div>
        <div id="blocTitle">
            <h3>Les bénéfices pour</h3>
            <div class="underlineBenef"></div>
            <h3>votre entreprise</h3>
            <div class="underlineBenef"></div>
        </div>
        <div class="titleSlideRight" id="cohesion">
          <h4>Cohésion</h4>
          <p>Rendre accessible le sport à tous</p>
        </div>
        <div class="titleSlideRight" id="integration">
            <h4>Intégration</h4>
            <p>
                Développer les capacités sociales et relationnelles
            </p>
        </div>
        <div class="titleSlideRight" id="amusement">
            <h4>Amusement</h4>
            <p>
                Participer au bien être et à la santé
            </p>
        </div>
</section> -->
