<section id="mat-k">

    <div id="newGen">
        <h3>
            <%= data.body.kTitle1 %><br>
            <%= data.body.kTitle2 %>
        </h3>
    </div>

    <div id="k">
        <video src="/files/videos/video-k.mp4" muted loop autoplay type="mp4">

        </video>
        <p id="letterK">
            <span id="spanK">K</span>
        </p>
    </div>

    
</section>