<section id="mat-prerequisite">

    <h3 id="prerequisitesTitle">Prérequis</h3>

    <div id="prerequisites">

        <div class="prerequisite">
            <figure>
                <img src="/files/images/white-wall.png">
                <figcaption>Mur blanc et prise standard</figcaption>
            </figure>
        </div>

        <div class="prerequisite">
            <figure>
                <img src="/files/images/meter.png">
                <figcaption>Espace de 20m² (min)</figcaption>
            </figure>
        </div>

        <div class="prerequisite">
            <figure>
                <i class="fa-regular fa-lightbulb"></i>
                <figcaption>Atmosphère peu lumineuse</figcaption>
            </figure>
        </div>

    </div>

</section>