<section id="mat-prerequisite">

    <h3 id="prerequisitesTitle"><%= data.body.prerequisitesTitle %></h3>

    <div id="prerequisites">

        <div class="prerequisite">
            <figure>
                <img src="/files/images/white-wall.png">
                <figcaption><%= data.body.prerequisites1 %></figcaption>
            </figure>
        </div>

        <div class="prerequisite">
            <figure>
                <img src="/files/images/meter.png">
                <figcaption><%= data.body.prerequisites2 %></figcaption>
            </figure>
        </div>

        <div class="prerequisite">
            <figure>
                <i class="fa-regular fa-lightbulb"></i>
                <figcaption><%= data.body.prerequisites3 %></figcaption>
            </figure>
        </div>

    </div>

</section>