@keyframes turn {
  to {
    transform: rotate(360deg);
  }
}
@keyframes turnReverse {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes bounce {
  from {
    bottom: 0px;
  }
  to {
    bottom: 5px;
  }
}
