<section id="mat-form-register">
  <div id="forms">
    <div id="login"></div>
    <div id="register"></div>
  </div>
  <div id="buttons">
    <button id="btnLogin">
      Se connecter
    </button>
    <button id="btnRegister">
      S'inscrire
    </button>
  </div>
</section>



<!-- <form id="form" enctype="multipart/form-data">
    <p>
      <label for="pseudoInput">Pseudo</label>
      <input type="text" name="pseudo" id="pseudoInput" />
    </p>
    <p>
      <label for="passwordInput">Password</label>
      <input type="password" name="password" id="passwordInput" />
    </p>
    <button type="submit">Envoyer</button>
  </form> -->