@keyframes turn {
  to {
    transform: rotate(360deg);
  }
}
@keyframes turnReverse {
  to {
    transform: rotate(-360deg);
  }
}


:root {
  --bg-color: midnightblue;
  --titre-color: #f0086a;
  --bg-blend: linear-gradient(
    to top,
    rgba(240, 8, 106, 1),
    rgba(240, 8, 106, 0.1)
  );
  --bg-blend-horizon: linear-gradient(
    90deg,
    rgba(25, 25, 112, 0.1) 0%,
    rgba(240, 8, 106, 1) 50%,
    rgba(25, 25, 112, 0.1) 100%
  );
  --txt-color: #f1f1f1;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  width: 100vw;
  height: 200vh;
  font-family: "Poppins", sans-serif;
}
html ::-webkit-scrollbar {
  width: 0.5vw;
}
html ::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10%;
}
html ::-webkit-scrollbar-thumb {
  background: rgb(240, 8, 106);
  border-radius: 10px;
}
html ::-webkit-scrollbar-thumb:hover {
  background: rgb(240, 8, 106);
}
html body {
  width: 100vw;
  background: var(--bg-color);
  overflow-x: hidden;
}
html body .pinkGrid {
  width: 200vw;
  width: 100vw;
  height: 55.6vh;
  position: relative;
  top: 50vh;
  overflow: hidden;
}

.box-logo {
  display: inline-block;
}

.logo {
  color: var(--txt-color);
  font-size: 3rem;
  letter-spacing: 0.15rem;
  font-weight: 100;
}

.line--translate {
  width: 10rem;
  height: 0.1rem;
  background: var(--txt-color);
  position: relative;
  right: -100%;
  transform: translateX(-80%);
}

.hamburger-container {
  width: 8rem;
  height: 8rem;
  display: flex;
  position: relative;
  top: 0%;
  left: 100%;
  transform: translateX(-120%);
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}

.hamburger {
  width: 8rem;
  height: 1rem;
  background: var(--titre-color);
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.hamburger-container.cross .hamburger:first-child {
  position: relative;
  top: 2rem;
  transform: rotate(-135deg);
}

.hamburger-container.cross .hamburger:last-child {
  position: relative;
  top: -2.3rem;
  right: 0.3rem;
  transform: rotate(135deg);
}

.hamburger-container.cross .hamburger:nth-child(2) {
  transform: translateX(-10rem);
}

.home-anim {
  width: 70rem;
  height: 70rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #3d3db2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 1rem;
  transition: all 0.5s ease;
}

.home-anim.showNavBar {
  transform: translate(-40vw, -50%);
}

.home-anim p {
  font-family: "Press Start 2P";
  font-size: 5rem;
  color: var(--titre-color);
  color: var(--txt-color);
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
}

.navBar {
  height: 100vh;
  width: 30vw;
  border: 1px solid #f0086a;
  background: #3d3db2;
  position: fixed;
  top: 0rem;
  left: 70vw;
  transform: translateX(100%);
  transition: all 0.5s ease;
}

.overlay {
  background: transparent;
  position: fixed;
  display: none;
  top: 0rem;
  height: 110vh;
  width: 70vw;
  z-index: 1;
}

.overlay.showNav {
  display: block;
}

.navBar.showNav {
  transform: translateX(0%);
}

.navBar ul {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-size: 4rem;
  color: #f1f1f1;
  text-transform: uppercase;
}

.home-anim p:first-child {
  color: #e88d06;
}

.home-anim p:nth-child(2) {
  color: #ad06e8;
}

.home-anim p:nth-child(3) {
  color: #02174c;
}

.pinkGrid--Right {
  position: relative;
  top: -50vh;
  left: 50vw;
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.centralLine {
  position: absolute;
  top: 0vh;
  left: 50vw;
  height: 120%;
  width: 0.2rem;
  background: var(--bg-blend);
}

.pinkGrid--Left {
  position: relative;
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.lineRight {
  height: 115%;
  width: 0.2rem;
  background: var(--bg-blend);
}

.lineRight-1 {
  margin-left: 5%;
}

.lineRight-1 {
  transform: rotate(-3deg);
}

.lineRight-2 {
  transform: rotate(-6deg);
}

.lineRight-3 {
  transform: rotate(-9deg);
}

.lineRight-4 {
  transform: rotate(-12deg);
}

.lineRight-5 {
  transform: rotate(-15deg);
}

.lineRight-6 {
  transform: rotate(-18deg);
}

.lineRight-7 {
  transform: rotate(-21deg);
}

.lineRight-8 {
  transform: rotate(-24deg);
}

.lineRight-9 {
  transform: rotate(-27deg);
}

.lineRight-10 {
  transform: rotate(-30deg);
}

.lineRight-11 {
  transform: rotate(-33deg);
}

.lineRight-12 {
  transform: rotate(-36deg);
}

.lineRight-13 {
  transform: rotate(-39deg);
}

.lineRight-14 {
  transform: rotate(-42deg);
}

.lineRight-15 {
  transform: rotate(-45deg);
}

.lineRight-16 {
  transform: rotate(-48deg);
}

.lineRight-17 {
  transform: rotate(-51deg);
}

.lineRight-18 {
  transform: rotate(-54deg);
}

.lineRight-19 {
  transform: rotate(-57deg);
}

.lineRight-20 {
  transform: rotate(-60deg);
}

.lineRight-21 {
  transform: rotate(-63deg);
}

.lineRight-22 {
  transform: rotate(-66deg);
}

.lineLeft {
  height: 115%;
  width: 0.2rem;
  background: var(--bg-blend);
}

.lineLeft-1 {
  margin-right: 5%;
}

.lineLeft-1 {
  transform: rotate(3deg);
}

.lineLeft-2 {
  transform: rotate(6deg);
}

.lineLeft-3 {
  transform: rotate(9deg);
}

.lineLeft-4 {
  transform: rotate(12deg);
}

.lineLeft-5 {
  transform: rotate(15deg);
}

.lineLeft-6 {
  transform: rotate(18deg);
}

.lineLeft-7 {
  transform: rotate(21deg);
}

.lineLeft-8 {
  transform: rotate(24deg);
}

.lineLeft-9 {
  transform: rotate(27deg);
}

.lineLeft-10 {
  transform: rotate(30deg);
}

.lineLeft-11 {
  transform: rotate(33deg);
}

.lineLeft-12 {
  transform: rotate(36deg);
}

.lineLeft-13 {
  transform: rotate(39deg);
}

.lineLeft-14 {
  transform: rotate(42deg);
}

.lineLeft-15 {
  transform: rotate(45deg);
}

.lineLeft-16 {
  transform: rotate(48deg);
}

.lineLeft-17 {
  transform: rotate(51deg);
}

.lineLeft-18 {
  transform: rotate(54deg);
}

.lineLeft-19 {
  transform: rotate(57deg);
}

.lineLeft-20 {
  transform: rotate(60deg);
}

.lineLeft-21 {
  transform: rotate(63deg);
}

.lineLeft-22 {
  transform: rotate(66deg);
}

.hLine {
  position: absolute;
  top: 4vh;
  width: 100vw;
  height: 0.2rem;
}

.hLine-1 {
  top: 0.3846153846vh;
}

.hLine-2 {
  top: 1.5384615385vh;
}

.hLine-3 {
  top: 3.4615384615vh;
}

.hLine-4 {
  top: 6.1538461538vh;
}

.hLine-5 {
  top: 9.6153846154vh;
}

.hLine-6 {
  top: 13.8461538462vh;
}

.hLine-7 {
  top: 18.8461538462vh;
}

.hLine-8 {
  top: 24.6153846154vh;
}

.hLine-9 {
  top: 31.1538461538vh;
}

.hLine-10 {
  top: 38.4615384615vh;
}

.hLine-11 {
  top: 46.5384615385vh;
}

.hLine-12 {
  top: 55.3846153846vh;
}

.hLine-0 {
  opacity: 0;
}

.hLine-1 {
  opacity: 0.07;
}

.hLine-2 {
  opacity: 0.14;
}

.hLine-3 {
  opacity: 0.21;
}

.hLine-4 {
  opacity: 0.28;
}

.hLine-5 {
  opacity: 0.35;
}

.hLine-6 {
  opacity: 0.42;
}

.hLine-7 {
  opacity: 0.49;
}

.hLine-8 {
  opacity: 0.56;
}

.hLine-9 {
  opacity: 0.63;
}

.hLine-10 {
  opacity: 0.7;
}

.hLine-11 {
  opacity: 0.77;
}

.hLine-12 {
  opacity: 0.84;
}

@media screen and (max-width: 550px) {
  body {
    width: 80%;
    overflow-x: hidden;
  }
  .hLine-1 {
    top: 0.3846153846vh;
  }
  .pinkGrid {
    border-bottom: solid 0.2px var(--titre-color);
  }
  body {
    width: 80%;
    overflow-x: hidden;
  }
  .hLine-2 {
    top: 1.5384615385vh;
  }
  .pinkGrid {
    border-bottom: solid 0.2px var(--titre-color);
  }
  body {
    width: 80%;
    overflow-x: hidden;
  }
  .hLine-3 {
    top: 3.4615384615vh;
  }
  .pinkGrid {
    border-bottom: solid 0.2px var(--titre-color);
  }
  body {
    width: 80%;
    overflow-x: hidden;
  }
  .hLine-4 {
    top: 6.1538461538vh;
  }
  .pinkGrid {
    border-bottom: solid 0.2px var(--titre-color);
  }
  body {
    width: 80%;
    overflow-x: hidden;
  }
  .hLine-5 {
    top: 9.6153846154vh;
  }
  .pinkGrid {
    border-bottom: solid 0.2px var(--titre-color);
  }
  body {
    width: 80%;
    overflow-x: hidden;
  }
  .hLine-6 {
    top: 13.8461538462vh;
  }
  .pinkGrid {
    border-bottom: solid 0.2px var(--titre-color);
  }
  body {
    width: 80%;
    overflow-x: hidden;
  }
  .hLine-7 {
    top: 18.8461538462vh;
  }
  .pinkGrid {
    border-bottom: solid 0.2px var(--titre-color);
  }
  body {
    width: 80%;
    overflow-x: hidden;
  }
  .hLine-8 {
    top: 24.6153846154vh;
  }
  .pinkGrid {
    border-bottom: solid 0.2px var(--titre-color);
  }
  body {
    width: 80%;
    overflow-x: hidden;
  }
  .hLine-9 {
    top: 31.1538461538vh;
  }
  .pinkGrid {
    border-bottom: solid 0.2px var(--titre-color);
  }
  body {
    width: 80%;
    overflow-x: hidden;
  }
  .hLine-10 {
    top: 38.4615384615vh;
  }
  .pinkGrid {
    border-bottom: solid 0.2px var(--titre-color);
  }
  body {
    width: 80%;
    overflow-x: hidden;
  }
  .hLine-11 {
    top: 46.5384615385vh;
  }
  .pinkGrid {
    border-bottom: solid 0.2px var(--titre-color);
  }
  body {
    width: 80%;
    overflow-x: hidden;
  }
  .hLine-12 {
    top: 55.3846153846vh;
  }
  .pinkGrid {
    border-bottom: solid 0.2px var(--titre-color);
  }
  body {
    width: 80%;
    overflow-x: hidden;
  }
  .hLine-13 {
    top: 65vh;
  }
  .pinkGrid {
    border-bottom: solid 0.2px var(--titre-color);
  }
  body {
    width: 80%;
    overflow-x: hidden;
  }
  .hLine-14 {
    top: 75.3846153846vh;
  }
  .pinkGrid {
    border-bottom: solid 0.2px var(--titre-color);
  }
  body {
    width: 80%;
    overflow-x: hidden;
  }
  .hLine-15 {
    top: 86.5384615385vh;
  }
  .pinkGrid {
    border-bottom: solid 0.2px var(--titre-color);
  }
  body {
    width: 80%;
    overflow-x: hidden;
  }
  .hLine-16 {
    top: 98.4615384615vh;
  }
  .pinkGrid {
    border-bottom: solid 0.2px var(--titre-color);
  }
  body {
    width: 80%;
    overflow-x: hidden;
  }
  .hLine-17 {
    top: 111.1538461538vh;
  }
  .pinkGrid {
    border-bottom: solid 0.2px var(--titre-color);
  }
  body {
    width: 80%;
    overflow-x: hidden;
  }
  .hLine-18 {
    top: 124.6153846154vh;
  }
  .pinkGrid {
    border-bottom: solid 0.2px var(--titre-color);
  }
  body {
    width: 80%;
    overflow-x: hidden;
  }
  .hLine-19 {
    top: 138.8461538462vh;
  }
  .pinkGrid {
    border-bottom: solid 0.2px var(--titre-color);
  }
  body {
    width: 80%;
    overflow-x: hidden;
  }
  .hLine-20 {
    top: 153.8461538462vh;
  }
  .pinkGrid {
    border-bottom: solid 0.2px var(--titre-color);
  }
}
@media screen and (max-width: 750px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 550px) {
  html {
    font-size: 40%;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 30%;
  }
}




/* *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Luciole";
  src: url("./../files/fonts/Luciole/Luciole-Regular.ttf");
}
body {
  font-family: serif;
  font-size: 16px;
} */
/* 
a {
  text-decoration: none;
  color: inherit;
}
a.link {
  text-decoration: underline dotted 2px var(--color-border);
  color: var(--color-secondary);
}
a.link:hover {
  color: var(--color-border);
}

ul {
  list-style-position: inside;
}

#navbar-top {
  border: 3px solid blue;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
#navbar-top ul {
  display: flex;
  list-style-type: none;
}
#navbar-top ul li .selected {
  text-decoration: underline 2px solid #000;
} */


























#footer {
  border: 3px solid purple;
}

.form {
  border: 3px solid green;
}

#ima-k {
  border: 3px solid red;
}

#nat-home {
  border: 3px solid red;
}

#mat-diapo-bands {
  border: 3px solid red;
}

/*# sourceMappingURL=style.css.map */
