@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&family=Lato&family=Playfair+Display:wght@500&family=Poppins:wght@500&family=Press+Start+2P&display=swap");
@-webkit-keyframes turn {
  to {
    transform: rotate(360deg);
  }
}
@keyframes turn {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes turnReverse {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes turnReverse {
  to {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes opacityLastSec {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityLastSec {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes bounce {
  from {
    bottom: 0px;
  }
  to {
    bottom: 5px;
  }
}
@keyframes bounce {
  from {
    bottom: 0px;
  }
  to {
    bottom: 5px;
  }
}
@-webkit-keyframes rightZero {
  from {
    right: -200%;
  }
  to {
    right: 0%;
  }
}
@keyframes rightZero {
  from {
    right: -200%;
  }
  to {
    right: 0%;
  }
}
@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: #000;
  }
}
@keyframes blink {
  50% {
    border-color: #000;
  }
}
@-webkit-keyframes blinkBorder {
  0% {
    border-color: #c8c8c8;
  }
  50% {
    border-color: rgba(200, 200, 200, 0.2352941176);
  }
  100% {
    border-color: rgba(200, 200, 200, 0);
    width: calc(100% + 25px);
    height: calc(100% + 18px);
    top: -10px;
    left: -10px;
  }
}
@keyframes blinkBorder {
  0% {
    border-color: #c8c8c8;
  }
  50% {
    border-color: rgba(200, 200, 200, 0.2352941176);
  }
  100% {
    border-color: rgba(200, 200, 200, 0);
    width: calc(100% + 25px);
    height: calc(100% + 18px);
    top: -10px;
    left: -10px;
  }
}
@-webkit-keyframes scaleSemi {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
@keyframes scaleSemi {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
@-webkit-keyframes bandBrands {
  from {
    margin-left: 50px;
  }
  to {
    margin-left: -330px;
  }
}
@keyframes bandBrands {
  from {
    margin-left: 50px;
  }
  to {
    margin-left: -330px;
  }
}
@-webkit-keyframes bandOpi {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: -550px;
  }
}
@keyframes bandOpi {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: -550px;
  }
}
@-webkit-keyframes scaleTranslate {
  0% {
    transform: scale(5) translate(10px);
  }
  50% {
    transform: scale(4) translate(5px);
  }
  100% {
    transform: scale(1.3) translate(-9px);
  }
}
@keyframes scaleTranslate {
  0% {
    transform: scale(5) translate(10px);
  }
  50% {
    transform: scale(4) translate(5px);
  }
  100% {
    transform: scale(1.3) translate(-9px);
  }
}
@-webkit-keyframes scaleFont {
  0% {
    font-size: 100%;
  }
  1% {
    opacity: 1;
    font-size: 800%;
  }
  100% {
    opacity: 1;
    font-size: 150%;
  }
}
@keyframes scaleFont {
  0% {
    font-size: 100%;
  }
  1% {
    opacity: 1;
    font-size: 800%;
  }
  100% {
    opacity: 1;
    font-size: 150%;
  }
}
@-webkit-keyframes borderRadStylePurple {
  0% {
    border-radius: 61% 39% 41% 59%/30% 43% 57% 70%;
  }
  25% {
    border-radius: 51% 49% 50% 50%/40% 27% 73% 60%;
  }
  55% {
    border-radius: 32% 68% 14% 86%/64% 43% 57% 36%;
  }
  75% {
    border-radius: 48% 52% 10% 90%/71% 34% 66% 29%;
  }
  100% {
    border-radius: 61% 39% 41% 59%/30% 43% 57% 70%;
  }
}
@keyframes borderRadStylePurple {
  0% {
    border-radius: 61% 39% 41% 59%/30% 43% 57% 70%;
  }
  25% {
    border-radius: 51% 49% 50% 50%/40% 27% 73% 60%;
  }
  55% {
    border-radius: 32% 68% 14% 86%/64% 43% 57% 36%;
  }
  75% {
    border-radius: 48% 52% 10% 90%/71% 34% 66% 29%;
  }
  100% {
    border-radius: 61% 39% 41% 59%/30% 43% 57% 70%;
  }
}
@-webkit-keyframes borderRadStyleBlue {
  0% {
    border-radius: 66% 34% 28% 72%/19% 46% 54% 81%;
  }
  25% {
    border-radius: 19% 81% 53% 47%/78% 34% 66% 22%;
  }
  55% {
    border-radius: 26% 74% 43% 57%/60% 36% 64% 40%;
  }
  75% {
    border-radius: 56% 44% 29% 71%/72% 36% 64% 28%;
  }
  100% {
    border-radius: 66% 34% 28% 72%/19% 46% 54% 81%;
  }
}
@keyframes borderRadStyleBlue {
  0% {
    border-radius: 66% 34% 28% 72%/19% 46% 54% 81%;
  }
  25% {
    border-radius: 19% 81% 53% 47%/78% 34% 66% 22%;
  }
  55% {
    border-radius: 26% 74% 43% 57%/60% 36% 64% 40%;
  }
  75% {
    border-radius: 56% 44% 29% 71%/72% 36% 64% 28%;
  }
  100% {
    border-radius: 66% 34% 28% 72%/19% 46% 54% 81%;
  }
}
@-webkit-keyframes borderRadStyleLightBlue {
  0% {
    border-radius: 56% 44% 66% 34%/47% 51% 49% 53%;
  }
  25% {
    border-radius: 68% 32% 47% 53%/28% 59% 41% 72%;
  }
  55% {
    border-radius: 30% 70% 39% 61%/68% 32% 68% 32%;
  }
  75% {
    border-radius: 38% 62% 23% 77%/49% 44% 56% 51%;
  }
  100% {
    border-radius: 56% 44% 66% 34%/47% 51% 49% 53%;
  }
}
@keyframes borderRadStyleLightBlue {
  0% {
    border-radius: 56% 44% 66% 34%/47% 51% 49% 53%;
  }
  25% {
    border-radius: 68% 32% 47% 53%/28% 59% 41% 72%;
  }
  55% {
    border-radius: 30% 70% 39% 61%/68% 32% 68% 32%;
  }
  75% {
    border-radius: 38% 62% 23% 77%/49% 44% 56% 51%;
  }
  100% {
    border-radius: 56% 44% 66% 34%/47% 51% 49% 53%;
  }
}
@-webkit-keyframes ripples {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
@keyframes ripples {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
@-webkit-keyframes scrollDown {
  0% {
    top: -10%;
  }
  40% {
    top: 60%;
  }
  60% {
    top: 30%;
  }
  80% {
    top: 60%;
  }
  100% {
    top: 110%;
  }
}
@keyframes scrollDown {
  0% {
    top: -10%;
  }
  40% {
    top: 60%;
  }
  60% {
    top: 30%;
  }
  80% {
    top: 60%;
  }
  100% {
    top: 110%;
  }
}
@-webkit-keyframes leftZeroF {
  to {
    left: 7%;
  }
}
@keyframes leftZeroF {
  to {
    left: 7%;
  }
}
@-webkit-keyframes leftZeroT {
  to {
    left: 15%;
  }
}
@keyframes leftZeroT {
  to {
    left: 15%;
  }
}
@-webkit-keyframes leftZeroTT {
  to {
    left: 31%;
  }
}
@keyframes leftZeroTT {
  to {
    left: 31%;
  }
}
@-webkit-keyframes scaleAppear {
  to {
    transform: scale(1) translateX(-50%);
  }
}
@keyframes scaleAppear {
  to {
    transform: scale(1) translateX(-50%);
  }
}
@-webkit-keyframes opacity {
  to {
    opacity: 1;
  }
}
@keyframes opacity {
  to {
    opacity: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Luciole";
  src: url("./../files/fonts/Luciole/Luciole-Regular.ttf");
}
body {
  font-family: serif;
  font-size: 16px;
}

h2, #letterK {
  font-family: "Press Start 2P", cursive;
}

h3 {
  font-family: "Playfair Display", serif;
}

h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
}

p {
  font-family: "Lato", sans-serif;
}

#followUs ul li {
  font-family: fontAwesome;
}

#navbarLinks .navbarLink {
  font-family: "Bowlby One", cursive;
  text-transform: uppercase;
}

#prerequisites .prerequisite figcaption {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: inherit;
}
a.link {
  -webkit-text-decoration: underline dotted 2px var(--color-border);
          text-decoration: underline dotted 2px var(--color-border);
  color: #1e0774;
}
a.link:hover {
  color: #73ddeb;
}

ul {
  list-style-position: inside;
}

#navbar-top {
  width: 100%;
  height: 100px;
  display: flex;
  padding: 0 20px 0px 20px;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
}
#navbar-top #logoKmoove {
  height: 70%;
  cursor: pointer;
  flex: 1 1 auto;
  min-width: 150px;
  max-width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}
#navbar-top #logoKmoove img {
  height: 90%;
  margin: auto;
}
@media all and (min-width: 700px) {
  #navbar-top #logoKmoove {
    height: 50%;
  }
}
#navbar-top #toggleBurger {
  border-radius: 10px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  padding: 8px 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  right: 10px;
  z-index: 10;
  transition: 0.5 ease;
}
#navbar-top #toggleBurger::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 5px;
  border-radius: 10px;
  background-color: #2d39b5;
  transition: all 0.7s ease;
}
#navbar-top #toggleBurger div {
  width: 100%;
  height: 5px;
  background: #000;
  border-radius: 10px;
  transition: ease 0.3s;
}
#navbar-top #toggleBurger div:nth-of-type(1) {
  background-color: #e303a2;
}
#navbar-top #toggleBurger div:nth-of-type(2) {
  background-color: #2d39b5;
  opacity: 0;
}
#navbar-top #toggleBurger div:nth-of-type(3) {
  background-color: #1ab6e3;
}
#navbar-top #toggleBurger:hover div:nth-of-type(1) {
  transform: rotate(-45deg) translate(-5px, 0px);
  width: 50%;
  z-index: 2;
}
#navbar-top #toggleBurger:hover div:nth-of-type(3) {
  transform: rotate(45deg) translate(-7px, -1px);
  width: 50%;
}
#navbar-top #toggleBurger.active::before {
  width: 100%;
  height: 100%;
}
#navbar-top #toggleBurger.active div:nth-of-type(1) {
  position: absolute;
  top: 45%;
  left: 10%;
  transform: rotate(45deg);
  width: 80%;
}
#navbar-top #toggleBurger.active div:nth-of-type(2) {
  display: none;
}
#navbar-top #toggleBurger.active div:nth-of-type(3) {
  position: absolute;
  top: 45%;
  left: 10%;
  transform: rotate(-45deg);
  width: 80%;
}
#navbar-top #toggleBurger.active:hover div:nth-of-type(1) {
  transform: rotate(-45deg);
}
#navbar-top #toggleBurger.active:hover div:nth-of-type(3) {
  transform: rotate(45deg);
}
@media all and (min-width: 700px) {
  #navbar-top #toggleBurger {
    display: none;
  }
}
#navbar-top #navbarLinks {
  position: absolute;
  top: 75px;
  right: -200%;
  width: clamp(300px, 50%, 400px);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 13% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 13% 100%);
  height: 900px;
  background-color: rgba(29, 0, 46, 0.95);
  color: #fff;
  z-index: 5;
  transition: left 0.5s 0.5s ease;
  padding: 0px 20px;
  list-style-type: none;
  text-align: right;
  display: none;
}
#navbar-top #navbarLinks li {
  white-space: nowrap;
  font-size: 25px;
  line-height: 50px;
  margin-top: 15px;
}
#navbar-top #navbarLinks li a {
  position: relative;
  text-decoration: none;
  padding: 5px 10px;
  z-index: 2;
  transition: 0.5s;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
#navbar-top #navbarLinks li a:hover {
  letter-spacing: 2px;
  transform: translate(20px);
}
#navbar-top #navbarLinks li a:hover:before {
  transform: scale(1);
  transform-origin: left;
  transition: transform 0.5s;
}
#navbar-top #navbarLinks li a:before {
  content: "";
  bottom: 7px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 30%;
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.5s;
  z-index: -1;
}
#navbar-top #navbarLinks li a.selected {
  transform: translate(0px);
}
#navbar-top #navbarLinks li a.selected:before {
  transform: scale(1);
  transform-origin: left;
  transition: transform 0.5s;
}
#navbar-top #navbarLinks li:nth-child(1) a::before {
  background: rgba(223, 223, 0, 0.564);
}
#navbar-top #navbarLinks li:nth-child(2) a::before {
  background: rgba(0, 202, 178, 0.564);
}
#navbar-top #navbarLinks li:nth-child(3) a::before {
  background: rgba(140, 11, 215, 0.564);
}
#navbar-top #navbarLinks li:nth-child(4) a::before {
  background: rgba(0, 203, 41, 0.564);
}
#navbar-top #navbarLinks li:nth-child(5) a::before {
  background: rgba(238, 95, 0, 0.564);
}
#navbar-top #navbarLinks li:nth-child(6) a::before {
  background: rgba(238, 0, 190, 0.564);
}
@media all and (min-width: 700px) {
  #navbar-top #navbarLinks li#accountMob {
    display: none;
  }
}
#navbar-top #navbarLinks li#settingsMobile {
  display: flex;
  align-items: center;
  justify-content: end;
}
@media all and (min-width: 700px) {
  #navbar-top #navbarLinks li#settingsMobile {
    display: none;
  }
}
#navbar-top #navbarLinks li#settingsMobile #langagesMob {
  border: 1px solid rgb(177, 177, 177);
  border-radius: 5px;
  width: 80px;
  height: 40px;
  cursor: pointer;
  overflow: hidden;
}
#navbar-top #navbarLinks li#settingsMobile #langagesMob a {
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: block;
}
#navbar-top #navbarLinks li#settingsMobile #langagesMob a .lang {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar-top #navbarLinks li#settingsMobile #langagesMob a .lang figure {
  width: calc(100% - 15px);
  height: 100%;
}
#navbar-top #navbarLinks li#settingsMobile #langagesMob a .lang figure img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
#navbar-top #navbarLinks li#settingsMobile #langagesMob a .lang .selectedLang {
  width: 15px;
  height: 100%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar-top #navbarLinks li#settingsMobile #langagesMob a .lang .selectedLang i {
  display: block;
  width: 15px;
  height: 10px;
  text-align: center;
}
#navbar-top #navbarLinks li#settingsMobile #langagesMob a:nth-of-type(2) {
  border: 1px solid rgb(177, 177, 177);
  border-radius: 5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  transform: scale(0.7) translate(-10px, -10px);
  position: relative;
  right: 5px;
  padding: 2.5px;
}
#navbar-top #navbarLinks li#settingsMobile #langagesMob.active {
  overflow: visible;
}
#navbar-top #navbarLinks li#settingsMobile #langagesMob.active a:nth-of-type(2) {
  pointer-events: auto;
}
#navbar-top #navbarLinks li#settingsMobile #langagesMob:hover {
  transform: none;
}
#navbar-top #navbarLinks.active {
  display: block;
  -webkit-animation: rightZero 0.5s 0.1s ease both;
          animation: rightZero 0.5s 0.1s ease both;
}
@media all and (min-width: 700px) {
  #navbar-top #navbarLinks {
    position: relative;
    top: 0;
    left: 0;
    width: clamp(400px, 55%, 700px);
    height: 100%;
    -webkit-clip-path: none;
            clip-path: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0;
  }
  #navbar-top #navbarLinks li {
    flex: 1 0 auto;
    margin-left: 40px;
    max-width: 200px;
    font-size: clamp(12px, 1.8vw, 30px);
    line-height: 20px;
    padding: 0;
  }
  #navbar-top #navbarLinks li a {
    position: relative;
    text-decoration: none;
    padding: 0;
    z-index: 2;
    transition: 0.5s;
  }
  #navbar-top #navbarLinks li a:hover {
    letter-spacing: 2px;
    transform: translate(20px);
  }
  #navbar-top #navbarLinks li a::before {
    content: "";
    bottom: 3px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 40%;
    transform: scale(0);
    transform-origin: right;
    transition: transform 0.5s;
    z-index: -1;
  }
  #navbar-top #navbarLinks.active {
    display: flex;
  }
}
#navbar-top #settings {
  display: none;
}
@media all and (min-width: 700px) {
  #navbar-top #settings {
    display: block;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 50px;
  }
  #navbar-top #settings #langages {
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
    width: 60px;
    height: 35px;
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
  }
  #navbar-top #settings #langages a {
    pointer-events: none;
    margin-bottom: 5px;
    width: 100%;
    height: 100%;
    display: block;
  }
  #navbar-top #settings #langages a .lang {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #navbar-top #settings #langages a .lang figure {
    width: calc(100% - 15px);
    height: 100%;
    padding: 2.54px;
  }
  #navbar-top #settings #langages a .lang figure img {
    width: 100%;
    height: 100%;
  }
  #navbar-top #settings #langages a .lang .selectedLang {
    width: 15px;
    height: 100%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #navbar-top #settings #langages a .lang .selectedLang i {
    display: block;
    width: 15px;
    height: 10px;
    text-align: center;
  }
  #navbar-top #settings #langages a:nth-of-type(2) {
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    position: relative;
    right: 5px;
    padding: 2.5px;
  }
  #navbar-top #settings #langages.active {
    overflow: visible;
  }
  #navbar-top #settings #langages.active a:nth-of-type(2) {
    pointer-events: auto;
  }
  #navbar-top #settings #account {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 20px;
  }
  #navbar-top #settings #account a {
    display: block;
    width: 100%;
    height: 100%;
  }
  #navbar-top #settings #account a i {
    display: block;
    line-height: 35px;
    text-align: center;
    font-size: 2em;
    color: #1e2467;
  }
}
@media all and (min-width: 700px) {
  #navbar-top {
    padding: 0 30px 10px 30px;
    height: 200px;
    margin-bottom: 10px;
  }
}
#navbar-top.sticky {
  top: -200px;
}
#navbar-top.sticky.active {
  top: 0px;
  height: 70px;
  background: rgba(184, 184, 184, 0.9);
}
@media all and (min-width: 700px) {
  #navbar-top.sticky.active {
    height: 150px;
  }
}

#scrollToTop {
  border: 5px solid #000;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}
#scrollToTop p {
  width: 100%;
  height: 100%;
}
#scrollToTop p i {
  width: 100%;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  transform: scale(1.3);
}
#scrollToTop.active {
  opacity: 1;
  pointer-events: auto;
}

#footer {
  position: relative;
  padding: 10px;
  height: 190px;
  background: rgb(255, 255, 255);
  background: linear-gradient(110deg, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
}
#footer #openFormFooter {
  cursor: pointer;
  transition: all ease 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin: auto;
  font-size: clamp(1rem, 2vw, 36px);
  height: 50px;
}
#footer #openFormFooter h4 {
  flex-shrink: 0;
  text-align: center;
  margin-right: 15px;
}
#footer #openFormFooter div.letter-image {
  width: 50px;
  height: 50px;
  margin: auto;
}
#footer #openFormFooter div.letter-image .animated-mail {
  position: absolute;
  height: 37.5px;
  width: 50px;
  transition: 0.4s;
}
#footer #openFormFooter div.letter-image .animated-mail .body {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 25px 50px;
  border-color: transparent transparent #e95f55 transparent;
  z-index: 2;
}
#footer #openFormFooter div.letter-image .animated-mail .top-fold {
  position: absolute;
  top: 12.5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12.5px 25px 0 25px;
  -webkit-transform-origin: 50% 0%;
  -webkit-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
  -moz-transform-origin: 50% 0%;
  -moz-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
  transform-origin: 50% 0%;
  transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
  border-color: #cf4a43 transparent transparent transparent;
  z-index: 2;
}
#footer #openFormFooter div.letter-image .animated-mail .back-fold {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 25px;
  background: #cf4a43;
  z-index: 0;
}
#footer #openFormFooter div.letter-image .animated-mail .left-fold {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12.5px 0 12.5px 25px;
  border-color: transparent transparent transparent #e15349;
  z-index: 2;
}
#footer #openFormFooter div.letter-image .animated-mail .letter {
  left: 5px;
  bottom: 0px;
  position: absolute;
  width: 40px;
  height: 15px;
  background: white;
  z-index: 1;
  overflow: hidden;
  transition: 0.4s 0.2s;
}
#footer #openFormFooter div.letter-image .animated-mail .letter .letter-border {
  height: 2.5px;
  width: 100%;
  background: repeating-linear-gradient(-45deg, #cb5a5e, #cb5a5e 8px, transparent 8px, transparent 18px);
}
#footer #openFormFooter div.letter-image .animated-mail .letter .letter-title {
  margin-top: 2.5px;
  margin-left: 1.25px;
  height: 2.5px;
  width: 40%;
  background: #cb5a5e;
}
#footer #openFormFooter div.letter-image .animated-mail .letter .letter-context {
  margin-top: 2.5px;
  margin-left: 1.25px;
  height: 2.5px;
  width: 20%;
  background: #cb5a5e;
}
#footer #openFormFooter div.letter-image .animated-mail .letter .letter-stamp {
  margin-top: 7.5px;
  margin-left: 30px;
  border-radius: 100%;
  height: 7.5px;
  width: 7.5px;
  background: #cb5a5e;
  opacity: 0.3;
}
#footer #openFormFooter div.letter-image.active {
  -webkit-animation: bounce 0.4s alternate infinite;
          animation: bounce 0.4s alternate infinite;
}
#footer #openFormFooter div.letter-image.active .animated-mail {
  transform: translateY(12.5px);
}
#footer #openFormFooter div.letter-image.active .animated-mail .top-fold {
  transition: transform 0.4s, z-index 0.2s;
  transform: rotateX(180deg);
  z-index: 0;
}
#footer #openFormFooter div.letter-image.active .animated-mail .letter {
  height: 45px;
}
#footer #openFormFooter:hover div.letter-image {
  position: relative;
  -webkit-animation: bounce 0.4s alternate infinite;
          animation: bounce 0.4s alternate infinite;
}
#footer #openFormFooter:hover div.letter-image.active {
  -webkit-animation: bounce 0.4s alternate infinite;
          animation: bounce 0.4s alternate infinite;
}
#footer #followUs {
  position: absolute;
  right: 10px;
  bottom: 30px;
}
#footer #followUs h4 {
  text-align: right;
  font-size: 0.91rem;
}
#footer #followUs div {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#footer #followUs div ul {
  margin-top: 10px;
  position: relative;
  display: flex;
  gap: 10px;
}
#footer #followUs div ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: relative;
  list-style-type: none;
  width: 50px;
  height: 55px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
#footer #followUs div ul li .fa-brands {
  font-size: 2rem;
  color: transparent;
  transition: 1.2s ease;
}
#footer #followUs div ul li:nth-child(1) .fa-brands {
  -webkit-text-stroke: 2px #dd2a7b;
}
#footer #followUs div ul li:nth-child(1)::before {
  content: "\f16d";
  border-bottom: 4px solid #dd2a7b;
  color: #dd2a7b;
}
#footer #followUs div ul li:nth-child(2) .fa-brands {
  -webkit-text-stroke: 2px #0022ff;
}
#footer #followUs div ul li:nth-child(2)::before {
  content: "\f08c";
  border-bottom: 4px solid #0022ff;
  color: #0022ff;
}
#footer #followUs div ul li:nth-child(3) .fa-brands {
  -webkit-text-stroke: 2px #e15;
}
#footer #followUs div ul li:nth-child(3)::before {
  content: "\f167";
  border-bottom: 4px solid #e15;
  color: #e15;
}
#footer #followUs div ul li:nth-child(4) .fa-brands {
  -webkit-text-stroke: 2px #92007e;
}
#footer #followUs div ul li:nth-child(4)::before {
  content: "\e07b";
  border-bottom: 4px solid #92007e;
  color: #92007e;
}
#footer #followUs div ul li:hover .fa-brands {
  opacity: 0;
}
#footer #followUs div ul li:hover::before {
  height: 100%;
}
#footer #followUs div ul li::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: 0.5s ease-in-out;
  text-align: center;
  line-height: 55px;
  font-size: 2rem;
  overflow: hidden;
}
#footer #mentions {
  width: calc(100% - 16px);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 4px;
  left: 4px;
  font-size: 0.8rem;
  font-weight: bold;
}
#footer #mentions #linksLegacy {
  list-style-type: none;
  position: absolute;
}
#footer #mentions #copyright {
  margin: auto;
}

.form {
  height: 0px;
  background-color: rgba(89, 27, 120, 0.4666666667);
  transition: all ease 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form form {
  display: none;
  width: clamp(350px, 100%, 500px);
  text-align: center;
}
.form form label, .form form input {
  display: block;
  margin: auto;
}
.form.active {
  height: 350px;
}
.form.active form {
  display: block;
}

#nat-home {
  height: 100vh;
  position: relative;
  background: midnightBlue;
  overflow: hidden;
  z-index: 9;
  display: none;
  visibility: hidden;
}
#nat-home .home-anim {
  width: clamp(320px, 50%, 800px);
  height: 350px;
  position: absolute;
  top: calc(35% - 175px);
  left: 50%;
  transform: translateX(-50%);
  background: #7b7b7b;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  -webkit-clip-path: polygon(0 12%, 20% 10%, 35% 0, 65% 0, 80% 10%, 100% 12%, 100% 88%, 80% 90%, 65% 100%, 35% 100%, 20% 90%, 0 88%);
          clip-path: polygon(0 12%, 20% 10%, 35% 0, 65% 0, 80% 10%, 100% 12%, 100% 88%, 80% 90%, 65% 100%, 35% 100%, 20% 90%, 0 88%);
  transition: all 0.5s ease;
  overflow: hidden;
  transform: scale(0);
  -webkit-animation: scaleAppear 1s ease both;
          animation: scaleAppear 1s ease both;
  z-index: 3;
}
#nat-home .home-anim::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff8000;
  transform: scale(0.97);
  z-index: 1;
}
#nat-home .home-anim::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4646b7;
  transform: scale(0.95);
  z-index: 2;
}
#nat-home .home-anim h2 {
  width: 100%;
  width: auto;
  position: absolute;
  z-index: 5;
  font-size: clamp(22px, 3.2vw, 50px);
  transform: scale(1.2);
}
#nat-home .home-anim h2:nth-child(1) {
  top: 20%;
  left: -200%;
  -webkit-animation: leftZeroF 0.5s 0.8s ease-out both;
          animation: leftZeroF 0.5s 0.8s ease-out both;
}
#nat-home .home-anim h2:nth-child(2) {
  top: 45%;
  left: -200%;
  -webkit-animation: leftZeroT 0.5s 1.2s ease-out both;
          animation: leftZeroT 0.5s 1.2s ease-out both;
}
#nat-home .home-anim h2:nth-child(3) {
  top: 70%;
  left: -200%;
  -webkit-animation: leftZeroTT 0.5s 1.7s ease-out both;
          animation: leftZeroTT 0.5s 1.7s ease-out both;
}
#nat-home #start-pass {
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-60%, -60%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid rgba(8, 1, 136, 0.808);
  background: #04e9f5;
  opacity: 0;
  -webkit-animation: opacity 1s 3s ease both;
          animation: opacity 1s 3s ease both;
  box-shadow: 0 0 0 5px #fff, 0 5px 25px rgba(0, 0, 0, 0.8);
}
#nat-home #start-pass::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
#nat-home #start-pass i {
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  -webkit-animation: scrollDown 1.5s 3s linear infinite;
          animation: scrollDown 1.5s 3s linear infinite;
  text-shadow: 0 2px 5px rgb(0, 0, 0);
}
#nat-home .pinkGrid {
  width: 100%;
  height: 100%;
  position: relative;
  top: 50vh;
  overflow: hidden;
}
#nat-home .pinkGrid .pinkGrid--Left {
  position: relative;
  width: 70vw;
  left: -20vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#nat-home .pinkGrid .pinkGrid--Right {
  position: relative;
  top: -50vh;
  left: 50vw;
  width: 70vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#nat-home .pinkGrid .centralLine {
  position: absolute;
  top: 0vh;
  left: 50vw;
  height: 120%;
  width: 0.2rem;
  background: linear-gradient(to top, rgb(240, 8, 106), rgba(240, 8, 106, 0.09));
}
#nat-home .pinkGrid .hLine {
  position: absolute;
  top: 4vh;
  width: 100vw;
  height: 0.2rem;
}
#nat-home .pinkGrid .lineRight {
  height: 115%;
  width: 0.2rem;
  background: linear-gradient(to top, rgb(240, 8, 106), rgba(240, 8, 106, 0.09));
}
#nat-home .pinkGrid .lineRight-1 {
  margin-left: 5%;
}
#nat-home .pinkGrid .lineLeft {
  height: 115%;
  width: 0.2rem;
  background: linear-gradient(to top, rgb(240, 8, 106), rgba(240, 8, 106, 0.09));
}
#nat-home .pinkGrid .lineLeft-1 {
  margin-right: 5%;
}
#nat-home .pinkGrid .lineLeft-1 {
  transform: rotate(5deg);
}
#nat-home .pinkGrid .lineLeft-2 {
  transform: rotate(10deg);
}
#nat-home .pinkGrid .lineLeft-3 {
  transform: rotate(15deg);
}
#nat-home .pinkGrid .lineLeft-4 {
  transform: rotate(20deg);
}
#nat-home .pinkGrid .lineLeft-5 {
  transform: rotate(25deg);
}
#nat-home .pinkGrid .lineLeft-6 {
  transform: rotate(30deg);
}
#nat-home .pinkGrid .lineLeft-7 {
  transform: rotate(35deg);
}
#nat-home .pinkGrid .lineLeft-8 {
  transform: rotate(40deg);
}
#nat-home .pinkGrid .lineLeft-9 {
  transform: rotate(45deg);
}
#nat-home .pinkGrid .lineLeft-10 {
  transform: rotate(50deg);
}
#nat-home .pinkGrid .lineLeft-11 {
  transform: rotate(55deg);
}
#nat-home .pinkGrid .lineLeft-12 {
  transform: rotate(60deg);
}
#nat-home .pinkGrid .lineLeft-13 {
  transform: rotate(65deg);
}
#nat-home .pinkGrid .lineLeft-14 {
  transform: rotate(70deg);
}
#nat-home .pinkGrid .lineLeft-15 {
  transform: rotate(75deg);
}
#nat-home .pinkGrid .lineLeft-16 {
  transform: rotate(80deg);
}
#nat-home .pinkGrid .lineLeft-17 {
  transform: rotate(85deg);
}
#nat-home .pinkGrid .lineLeft-18 {
  transform: rotate(90deg);
}
#nat-home .pinkGrid .lineLeft-19 {
  transform: rotate(95deg);
}
#nat-home .pinkGrid .lineLeft-20 {
  transform: rotate(100deg);
}
#nat-home .pinkGrid .lineLeft-21 {
  transform: rotate(105deg);
}
#nat-home .pinkGrid .lineLeft-22 {
  transform: rotate(110deg);
}
#nat-home .pinkGrid .lineRight-1 {
  transform: rotate(-5deg);
}
#nat-home .pinkGrid .lineRight-2 {
  transform: rotate(-10deg);
}
#nat-home .pinkGrid .lineRight-3 {
  transform: rotate(-15deg);
}
#nat-home .pinkGrid .lineRight-4 {
  transform: rotate(-20deg);
}
#nat-home .pinkGrid .lineRight-5 {
  transform: rotate(-25deg);
}
#nat-home .pinkGrid .lineRight-6 {
  transform: rotate(-30deg);
}
#nat-home .pinkGrid .lineRight-7 {
  transform: rotate(-35deg);
}
#nat-home .pinkGrid .lineRight-8 {
  transform: rotate(-40deg);
}
#nat-home .pinkGrid .lineRight-9 {
  transform: rotate(-45deg);
}
#nat-home .pinkGrid .lineRight-10 {
  transform: rotate(-50deg);
}
#nat-home .pinkGrid .lineRight-11 {
  transform: rotate(-55deg);
}
#nat-home .pinkGrid .lineRight-12 {
  transform: rotate(-60deg);
}
#nat-home .pinkGrid .lineRight-13 {
  transform: rotate(-65deg);
}
#nat-home .pinkGrid .lineRight-14 {
  transform: rotate(-70deg);
}
#nat-home .pinkGrid .lineRight-15 {
  transform: rotate(-75deg);
}
#nat-home .pinkGrid .lineRight-16 {
  transform: rotate(-80deg);
}
#nat-home .pinkGrid .lineRight-17 {
  transform: rotate(-85deg);
}
#nat-home .pinkGrid .lineRight-18 {
  transform: rotate(-90deg);
}
#nat-home .pinkGrid .lineRight-19 {
  transform: rotate(-95deg);
}
#nat-home .pinkGrid .lineRight-20 {
  transform: rotate(-100deg);
}
#nat-home .pinkGrid .lineRight-21 {
  transform: rotate(-105deg);
}
#nat-home .pinkGrid .lineRight-22 {
  transform: rotate(-110deg);
}
#nat-home .pinkGrid .hLine-1 {
  top: 0.3846153846vh;
  opacity: 0.07;
}
#nat-home .pinkGrid .hLine-2 {
  top: 1.5384615385vh;
  opacity: 0.14;
}
#nat-home .pinkGrid .hLine-3 {
  top: 3.4615384615vh;
  opacity: 0.21;
}
#nat-home .pinkGrid .hLine-4 {
  top: 6.1538461538vh;
  opacity: 0.28;
}
#nat-home .pinkGrid .hLine-5 {
  top: 9.6153846154vh;
  opacity: 0.35;
}
#nat-home .pinkGrid .hLine-6 {
  top: 13.8461538462vh;
  opacity: 0.42;
}
#nat-home .pinkGrid .hLine-7 {
  top: 18.8461538462vh;
  opacity: 0.49;
}
#nat-home .pinkGrid .hLine-8 {
  top: 24.6153846154vh;
  opacity: 0.56;
}
#nat-home .pinkGrid .hLine-9 {
  top: 31.1538461538vh;
  opacity: 0.63;
}
#nat-home .pinkGrid .hLine-10 {
  top: 38.4615384615vh;
  opacity: 0.7;
}
#nat-home .pinkGrid .hLine-11 {
  top: 46.5384615385vh;
  opacity: 0.77;
}
#nat-home .pinkGrid .hLine-12 {
  top: 55.3846153846vh;
  opacity: 0.84;
}

#mat-diapo {
  height: 60vh;
  padding: 10px;
  z-index: 1;
  margin-top: 100px;
  background-image: linear-gradient(0deg, #7ce0e0 0%, #80d0c7 50%, #ffffff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#mat-diapo #diapo {
  border-radius: 20px;
  height: clamp(220px, 100%, 600px);
  width: clamp(330px, 100%, 1000px);
  margin: auto;
  position: relative;
  opacity: 0;
  transition: all 2s ease;
  overflow: hidden;
}
#mat-diapo #diapo #diapoController {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 108px;
  height: 40px;
  z-index: 3;
}
#mat-diapo #diapo #diapoController input[type=radio] {
  border: 3px solid rgb(15, 15, 92);
  -webkit-appearance: none;
  outline: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(123, 12, 242);
  cursor: pointer;
}
#mat-diapo #diapo #diapoController input[type=radio]:hover {
  background-color: rgb(133, 101, 209);
}
#mat-diapo #diapo #diapoController input[type=radio]:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#mat-diapo #diapo #diapoController input[type=radio]:checked:before {
  content: "";
  display: block;
  width: 80%;
  height: 80%;
  margin: 10%;
  position: relative;
  border-radius: 50%;
  background-color: rgb(27, 12, 128);
}
#mat-diapo #diapo .layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity ease 1s;
}
#mat-diapo #diapo .layout#first {
  background-image: url("../../files/images/refelxe6.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#mat-diapo #diapo .layout#first #firstFilter {
  position: relative;
  left: -100%;
  transition: all ease 0.3s 0.7s;
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow: visible;
  background: linear-gradient(18deg, rgba(124, 57, 150, 0.8705882353) 0%, rgba(71, 0, 133, 0.8) 100%);
  -webkit-clip-path: polygon(0 0, 88% 0, 48% 100%, 0 100%);
          clip-path: polygon(0 0, 88% 0, 48% 100%, 0 100%);
}
#mat-diapo #diapo .layout#first h2 {
  position: absolute;
  top: 40px;
  left: 10px;
  font-size: 0.8rem;
  font-size: clamp(12px, 3vw, 30px);
  line-height: 30px;
  height: 45%;
  width: 100%;
  color: transparent;
  text-align: right;
}
#mat-diapo #diapo .layout#first h2 .titleLine {
  display: block;
  -webkit-background-clip: text;
  color: transparent;
  white-space: nowrap;
  overflow: hidden;
  border-right: 10px solid transparent;
  opacity: 0;
}
#mat-diapo #diapo .layout#first h2 .titleLine:nth-of-type(1) {
  width: clamp(250px, 80%, 800px);
  background-image: linear-gradient(106deg, rgb(255, 123, 0) 10%, rgb(244, 255, 0) 70%);
}
#mat-diapo #diapo .layout#first h2 .titleLine:nth-of-type(2) {
  width: clamp(230px, 80%, 800px);
  background-image: linear-gradient(106deg, rgb(255, 123, 0) 30%, rgb(244, 255, 0) 70%);
  padding-right: 30px;
}
#mat-diapo #diapo .layout#first h2 .titleLine:nth-of-type(3) {
  width: clamp(220px, 80%, 800px);
  background-image: linear-gradient(106deg, rgb(255, 123, 0) 30%, rgb(244, 255, 0) 90%);
  padding-right: 70px;
}
#mat-diapo #diapo .layout#first h2 .titleLine:nth-of-type(3) #scalExcl {
  opacity: 0;
  color: rgb(244, 255, 0);
  position: absolute;
  margin-left: 10px;
}
#mat-diapo #diapo .layout#first.active #firstFilter {
  left: 0;
}
#mat-diapo #diapo .layout#first.active h2 .titleLine {
  opacity: 1;
}
#mat-diapo #diapo .layout#first.active h2 .titleLine:nth-of-type(1) {
  -webkit-animation: typing 2s 0.5s steps(19), blink 2.5s 0.33s both;
          animation: typing 2s 0.5s steps(19), blink 2.5s 0.33s both;
}
#mat-diapo #diapo .layout#first.active h2 .titleLine:nth-of-type(2) {
  -webkit-animation: typing 2s 2.5s steps(16), opacityLastSec 0.5s 2.1s ease both, blink 2.5s 2.33s both;
          animation: typing 2s 2.5s steps(16), opacityLastSec 0.5s 2.1s ease both, blink 2.5s 2.33s both;
}
#mat-diapo #diapo .layout#first.active h2 .titleLine:nth-of-type(3) {
  -webkit-animation: typing 2s 4.5s steps(16), opacityLastSec 0.5s 4.1s ease both, blink 2.5s 4.33s both;
          animation: typing 2s 4.5s steps(16), opacityLastSec 0.5s 4.1s ease both, blink 2.5s 4.33s both;
}
#mat-diapo #diapo .layout#first.active h2 .titleLine:nth-of-type(3) #scalExcl {
  -webkit-animation: scaleFont 1s 7s both;
          animation: scaleFont 1s 7s both;
}
#mat-diapo #diapo .layout#second {
  background-image: url("../../files/images/jeupar4.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#mat-diapo #diapo .layout#second .secondFilter {
  position: absolute;
  transition: all 0.5s ease;
  transform: scale(0);
}
#mat-diapo #diapo .layout#second .secondFilter:nth-of-type(1) {
  padding: 0 0 20px 5%;
  top: 30%;
  left: 1%;
  width: 55%;
  height: 35%;
  background: linear-gradient(45deg, hsla(246deg, 67%, 41%, 0.89) 0%, rgba(255, 0, 153, 0.9) 100%);
  z-index: 3;
  border-radius: 61% 39% 41% 59%/30% 43% 57% 70%;
  transition-delay: 0s;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mat-diapo #diapo .layout#second .secondFilter:nth-of-type(1) h2 {
  color: #ffff14;
  -webkit-text-stroke: 0.2px #ffdd00;
  line-height: clamp(20px, 4vw, 45px);
  font-size: clamp(10px, 2.5vw, 30px);
  white-space: nowrap;
  margin: 10px 0 0 0px;
}
#mat-diapo #diapo .layout#second .secondFilter:nth-of-type(2) {
  z-index: 2;
  padding: 0 0 20px 5%;
  top: 55%;
  left: 35%;
  width: 65%;
  height: 40%;
  background: linear-gradient(45deg, rgba(56, 38, 130, 0.9019607843) 0%, rgba(80, 42, 230, 0.9019607843) 100%);
  z-index: 3;
  border-radius: 61% 39% 41% 59%/30% 43% 57% 70%;
  transition-delay: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mat-diapo #diapo .layout#second .secondFilter:nth-of-type(2) h2 {
  color: #dedede;
  -webkit-text-stroke: 0.2px #8d8d8d;
  line-height: clamp(20px, 4vw, 45px);
  font-size: clamp(12px, 2vw, 15px);
  margin: 10px 0 0 0px;
}
#mat-diapo #diapo .layout#second .secondFilter:nth-of-type(3) {
  background-color: #0a8ac1;
  z-index: 1;
  padding: 0 0 20px 5%;
  bottom: 5px;
  left: 5%;
  width: 35%;
  height: 120px;
  background: linear-gradient(45deg, rgba(10, 124, 173, 0.8117647059) 0%, rgba(0, 179, 255, 0.7098039216) 100%);
  z-index: 3;
  border-radius: 56% 44% 66% 34%/47% 51% 49% 53%;
  transition-delay: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mat-diapo #diapo .layout#second .secondFilter:nth-of-type(3) h2 {
  color: #2b2b2b;
  -webkit-text-stroke: 0.2px #161616;
  line-height: clamp(20px, 4vw, 45px);
  font-size: clamp(8px, 2vw, 20px);
  white-space: nowrap;
  margin: 5px 5% 0 0;
  letter-spacing: 0.1px;
}
#mat-diapo #diapo .layout#second .secondFilter:hover {
  opacity: 0.6;
}
#mat-diapo #diapo .layout#second.active .secondFilter:nth-of-type(1) {
  transform: scale(1);
  -webkit-animation: borderRadStylePurple 10s 0.5s ease infinite;
          animation: borderRadStylePurple 10s 0.5s ease infinite;
}
#mat-diapo #diapo .layout#second.active .secondFilter:nth-of-type(2) {
  transform: scale(1);
  -webkit-animation: borderRadStyleBlue 12s 0.5s ease infinite;
          animation: borderRadStyleBlue 12s 0.5s ease infinite;
}
#mat-diapo #diapo .layout#second.active .secondFilter:nth-of-type(3) {
  transform: scale(1);
  -webkit-animation: borderRadStyleLightBlue 12s 0.5s ease infinite;
          animation: borderRadStyleLightBlue 12s 0.5s ease infinite;
}
#mat-diapo #diapo .layout#third {
  background: rgb(112, 0, 156);
  background: linear-gradient(4deg, rgb(70, 2, 97) 10%, rgb(247, 247, 247) 100%);
}
#mat-diapo #diapo .layout#third .thirdFilter:nth-of-type(1) {
  border: 3px solid #00b3ff;
  border-radius: 5px;
  background-color: rgb(10, 1, 47);
  width: clamp(270px, 90%, 600px);
  position: relative;
  top: 25%;
  left: 209%;
  padding: 0 15px 10px 15px;
  color: rgba(0, 179, 255, 0.9764705882);
  font-size: clamp(14px, 2vw, 36px);
  font-weight: bold;
  letter-spacing: 1px;
  transition: all ease 1s;
}
#mat-diapo #diapo .layout#third .thirdFilter:nth-of-type(1) h2 {
  border: 3px solid #00b3ff;
  background-color: rgb(17, 3, 71);
  color: #fea100;
  position: relative;
  bottom: 25px;
  left: -600%;
  padding: 5px;
  width: 80%;
  line-height: 30px;
  font-size: clamp(1em, 2vw, 30px);
  transition: all ease 1s;
}
#mat-diapo #diapo .layout#third .thirdFilter:nth-of-type(1) h2:before {
  border: 3px solid #fea100;
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  position: absolute;
  top: -7.5px;
  left: -7.5px;
  content: "";
}
#mat-diapo #diapo .layout#third .thirdFilter:nth-of-type(1) h2:after {
  border: 3px solid #00b3ff;
  width: calc(100% + 25px);
  height: calc(100% + 25px);
  position: absolute;
  top: -12.5px;
  left: -12.5px;
  content: "";
}
#mat-diapo #diapo .layout#third .thirdFilter:nth-of-type(2) {
  border: 2px solid #c8c8c8;
  border-radius: 5px;
  background-color: rgb(10, 4, 34);
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: clamp(270px, 90%, 550px);
  line-height: 50px;
  text-align: center;
  color: #fea100;
  text-transform: uppercase;
  font-size: clamp(10px, 2vw, 20px);
  cursor: pointer;
  transition: all 3s ease;
  white-space: nowrap;
}
#mat-diapo #diapo .layout#third .thirdFilter:nth-of-type(2) i {
  -webkit-animation: scaleSemi 1s infinite alternate ease;
          animation: scaleSemi 1s infinite alternate ease;
  margin-left: 15px;
}
#mat-diapo #diapo .layout#third .thirdFilter:nth-of-type(2):before {
  border: 2px solid #c8c8c8;
  border-radius: 5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  position: absolute;
  top: -5px;
  left: -5px;
  content: "";
}
#mat-diapo #diapo .layout#third .thirdFilter:nth-of-type(2):after {
  border: 2px solid #c8c8c8;
  border-radius: 5px;
  width: calc(100% + 20px);
  height: calc(100% + 18px);
  position: absolute;
  top: -9px;
  left: -10px;
  content: "";
}
#mat-diapo #diapo .layout#third.active .thirdFilter:nth-of-type(1) {
  left: 1%;
}
#mat-diapo #diapo .layout#third.active .thirdFilter:nth-of-type(1) h2 {
  left: 25px;
}
#mat-diapo #diapo .layout#third.active .thirdFilter:nth-of-type(2) {
  bottom: 40px;
}
#mat-diapo #diapo .layout#third.active .thirdFilter:nth-of-type(2):hover:before {
  -webkit-animation: blinkBorder 1s 1s ease infinite;
          animation: blinkBorder 1s 1s ease infinite;
}
#mat-diapo #diapo .layout#third.active .thirdFilter:nth-of-type(2):hover:after {
  -webkit-animation: blinkBorder 1s 1.2s ease infinite;
          animation: blinkBorder 1s 1.2s ease infinite;
}
#mat-diapo #diapo .layout.active {
  z-index: 2;
  opacity: 1;
}
#mat-diapo #diapo.active {
  opacity: 1;
}
@media all and (min-width: 700px) {
  #mat-diapo {
    margin-top: 230px;
  }
}

#mat-bands {
  padding: 10px;
  padding-bottom: 200px;
  background: rgb(124, 224, 224);
  background: linear-gradient(180deg, #7ce0e0 0%, #2aaba6 66%, rgb(59, 134, 190) 100%);
  overflow: hidden;
}
#mat-bands #trust {
  opacity: 0;
  transition: all ease 1s 0.5s;
  margin: 10px 0 0 15px;
  font-size: clamp(18px, 3vw, 40px);
}
#mat-bands #notices {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  opacity: 0;
  transition: all ease 1s 0.8s;
}
#mat-bands #notices #brands {
  margin: 20px 15px 60px 0;
  border-radius: 50px;
  box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset, -8px -8px 12px 0 rgba(0, 0, 0, 0.25) inset;
  width: clamp(300px, 40%, 350px);
  flex: 0 1 auto;
  display: flex;
  justify-content: start;
  overflow: hidden;
}
#mat-bands #notices #brands .brand {
  flex: 0 0 110px;
  height: auto;
}
#mat-bands #notices #brands .brand img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
  cursor: pointer;
}
#mat-bands #notices #brands .brand img:hover {
  transform: scale(1.23);
}
#mat-bands #notices #brands .brand:first-child {
  -webkit-animation: bandBrands 12s ease-in-out alternate infinite;
          animation: bandBrands 12s ease-in-out alternate infinite;
}
#mat-bands #notices #opinions {
  width: clamp(350px, 100%, 600px);
  display: flex;
  justify-content: center;
  height: 300px;
  overflow: hidden;
  border: 5px solid #51175f;
  margin-top: -30px;
  transform: skew(-7deg);
  background: #fff;
  font-size: clamp(12px, 1.5vw, 25px);
}
#mat-bands #notices #opinions #opLeft {
  -webkit-animation: bandOpi 25s linear alternate infinite;
          animation: bandOpi 25s linear alternate infinite;
  border-right: 3px solid #51175f;
}
#mat-bands #notices #opinions #opRight {
  animation: bandOpi 25s linear alternate-reverse infinite;
  border-left: 3px solid #51175f;
}
#mat-bands #notices #opinions #opLeft,
#mat-bands #notices #opinions #opRight {
  width: 100%;
}
#mat-bands #notices #opinions #opLeft div,
#mat-bands #notices #opinions #opRight div {
  height: 170px;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}
#mat-bands #notices #opinions #opLeft div p,
#mat-bands #notices #opinions #opRight div p {
  transform: skew(7deg);
}
#mat-bands #notices #opinions #opLeft hr,
#mat-bands #notices #opinions #opRight hr {
  height: 5px;
  background-color: #51175f;
}
#mat-bands #notices #opinions #opLeft:hover,
#mat-bands #notices #opinions #opRight:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
#mat-bands.active #trust,
#mat-bands.active #notices {
  opacity: 1;
}

#mat-image-paralax-one {
  height: 100vh;
  background: url("/files/images/testprere.jpg"), url("/files/images/jeupar4.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#mat-k {
  overflow: hidden;
  height: 100vh;
  background-color: rgb(1, 1, 1);
  border-radius: 50% 50% 100% 0%/16% 18% 82% 84%;
  margin-top: -1px;
  position: relative;
  padding-top: 50px;
  bottom: 145px;
}
@media all and (min-width: 450px) {
  #mat-k {
    padding-top: 70px;
  }
}
@media all and (min-width: 700px) {
  #mat-k {
    padding-top: 90px;
  }
}
#mat-k #newGen {
  color: #fff;
  z-index: 3;
  width: clamp(250px, 40%, 400px);
  height: auto;
  overflow: hidden;
  position: absolute;
  right: 13%;
  top: 7%;
}
#mat-k #newGen h3 {
  width: 100%;
  font-size: clamp(22px, 3.5vw, 44px);
}
#mat-k #k {
  width: clamp(350px, 80%, 800px);
  height: 100%;
  position: relative;
  z-index: 2;
}
#mat-k #k video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#mat-k #k #letterK {
  width: 500%;
  height: 500%;
  position: absolute;
  top: -200%;
  left: -200%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 200px;
  font-weight: 900;
  background-color: rgb(1, 1, 1);
  color: #fff;
  mix-blend-mode: multiply;
}
#mat-k #k #letterK #spanK {
  position: relative;
  bottom: 0px;
  text-shadow: 5px 5px 10px blue;
  transform: scale(1.7) translateX(10px);
  -webkit-text-stroke: 2px blue;
  transition: all ease 0.3s;
}
@media all and (min-width: 450px) {
  #mat-k #k #letterK #spanK {
    transform: scale(2) translateX(20px);
  }
}
@media all and (min-width: 700px) {
  #mat-k #k #letterK #spanK {
    transform: scale(2.5) translate(10px, 20px);
  }
}

#mat-prerequisite {
  background: linear-gradient(184deg, #3a49ba 0%, #7c3996 20%, #392683 65%, #180e40 90%);
  height: 150vh;
  position: relative;
  bottom: 100vh;
  margin-bottom: -100vh;
  overflow: hidden;
  z-index: -1;
}
#mat-prerequisite h3 {
  position: absolute;
  top: 50%;
  right: -80%;
  width: 35%;
  text-align: right;
  font-size: clamp(22px, 4vw, 44px);
  transition: 1s;
}
#mat-prerequisite h3.active {
  right: 8%;
}
#mat-prerequisite #prerequisites {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: clamp(340px, 90%, 800px);
  height: 100px;
}
@media all and (min-width: 450px) {
  #mat-prerequisite #prerequisites {
    height: 150px;
  }
}
@media all and (min-width: 700px) {
  #mat-prerequisite #prerequisites {
    height: 200px;
  }
}
#mat-prerequisite #prerequisites .prerequisite {
  width: 30%;
  position: relative;
  transition: 1s;
}
#mat-prerequisite #prerequisites .prerequisite figure {
  width: 100%;
  height: 100%;
}
#mat-prerequisite #prerequisites .prerequisite figure img {
  width: 100%;
  height: 100%;
}
#mat-prerequisite #prerequisites .prerequisite figure i {
  color: rgb(255, 249, 79);
  display: block;
  font-size: clamp(60px, 18vw, 150px);
  text-align: center;
  padding-top: 10px;
  height: 100%;
  margin-bottom: 15px;
}
#mat-prerequisite #prerequisites .prerequisite figure figcaption {
  margin-top: 10px;
  text-align: center;
  color: #fff;
  font-size: clamp(12px, 5vw, 30px);
}
#mat-prerequisite #prerequisites .prerequisite:nth-child(1) {
  right: 100%;
}
#mat-prerequisite #prerequisites .prerequisite:nth-child(2) {
  top: 200%;
}
#mat-prerequisite #prerequisites .prerequisite:nth-child(3) {
  left: 100%;
}
#mat-prerequisite #prerequisites.active .prerequisite:nth-child(1) {
  right: 0;
}
#mat-prerequisite #prerequisites.active .prerequisite:nth-child(2) {
  top: 0;
}
#mat-prerequisite #prerequisites.active .prerequisite:nth-child(3) {
  left: 0;
}/*# sourceMappingURL=style.css.map */