body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
h1 {
  border: 1px solid rgb(15, 27, 164);
  width: 100px;
  height: 100px;
}
main {
  border: 1px solid rgb(15, 164, 48);
  width: 500px;
  height: 300px;
}
h2 {
  border: 1px solid #000;
  width: 300px;
  height: 30px;
  color: #e15;
}
p {
  border: 1px solid rgb(179, 24, 181);
  height: 50px;
  width: 300px;
  color: blue;
}
