<section id="karim">
    <div id="circle"></div>
    <p>Lorem ipsum dolor sit . Voluptatibus dolore fuga voluptatum repellendus eaque, aspernatur sint obcaecati totam corrupti, aperiam similique maiores natus, maxime nobis officia architecto quibusdam rem sed laborum? Veniam!</p>
</section>